<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>글 상세페이지</title>
</head>

<body>
<section layout:fragment="main">
    <div class="container my-3">

        <h1>글 상세페이지</h1>
        <div class="card my-3">
            <div class="card-body">
                <div>
                    아이디 : [[${postDetail.id}]]
                </div>

                <div>
                    작성자 : [[${postDetail.author}]]
                </div>

                <div>
                    제목 : [[${postDetail.subject}]]
                </div>
                <div>
                    <div th:each="keyword : ${postDetail.hashTagList}">
                        <span class="badge bg-light text-dark" th:text="|# ${keyword}|"></span>
                    </div>
                </div>

                <div class="card-text" th:utext="${@commonUtil.markdown(postDetail.content)}"></div>

                <div class="my-3">
                    <a th:href="@{|/post/modify/${postDetail.id}|}" class="btn btn-sm btn-outline-secondary"
                       sec:authorize="isAuthenticated()"
                       th:if="${postDetail.authorId != null and #authentication.getPrincipal().getUsername() == postDetail.authorId}"
                       th:text="수정"></a>
                    <a onClick="if(!confirm('정말로 삭제하시겠습니까?')) return false;" th:href="@{|/post/delete/${postDetail.id}|}" class="btn btn-sm btn-outline-secondary"
                       sec:authorize="isAuthenticated()"
                       th:if="${postDetail.authorId != null and #authentication.getPrincipal().getUsername() == postDetail.authorId}"
                       th:text="삭제"></a>
                </div>
            </div>
        </div>

    </div>
</section>
</body>
</html>
