<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>글 리스트</title>
</head>

<body>
<section layout:fragment="main">

    <div class="container mx-auto">
        <h1>글 리스트</h1>
        <div class="flex justify-end" sec:authorize="isAuthenticated()">
            <a th:href="@{/post/write}" class="btn">게시물 작성</a>
        </div>

        <div class="overflow-x-auto">
            <table class="table w-full">
                <!-- head -->
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>해시태그</th>
                    <th>작성자</th>
                    <th>작성날짜</th>
                    <th>수정날짜</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${postList}">
                    <td th:href="@{|/post/${post.id}|}" th:text="${post.id}"></td>
                    <td>
                        <a th:href="@{|/post/${post.id}|}" th:text="${post.subject}"></a>
                    <td class="flex flex-row">
                        <div th:each="keyword : ${post.keywordList}">
                            <span class="badge badge-ghost badge-sm" th:text="|# ${keyword.hashTag}|"></span>
                        </div>
                    </td>
                    <td th:text="${post.author.username}"></td>
                    <td th:text="${post.createdAt}"></td>
                    <td th:text="${post.modifiedAt}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>
