<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
  <title>회원가입</title>
</head>

<body>
<main layout:fragment="main">
  <section class="container my-3">

    <div>
      <h1 class="font-bold text-lg">회원가입</h1>

      <script>
        let MemberJoin__submitDone = false;

        function MemberJoin__submit(form) {
          if (MemberJoin__submitDone) {
            return;
          }

          form.username.value = form.username.value.trim();

          if (form.username.value.length == 0) {
            warningModal("아이디를 입력해주세요.");
            form.username.focus();

            return;
          }

          form.password.value = form.password.value.trim();
          form.passwordConfirm.value = form.passwordConfirm.value.trim();

          if (form.password.value.length == 0) {
            warningModal("비밀번호를 입력해주세요.");
            form.password.focus();

            return;
          }

          if(form.password.value != form.passwordConfirm.value) {
            warningModal("비밀번호가 일치하지 않습니다.");
            form.password.focus();
            return;
          }

          form.email.value = form.email.value.trim();

          if (form.email.value.length == 0) {
            warningModal("이메일을 입력해주세요.");
            form.email.focus();

            return;
          }

          if (form.nickname.value.length == 0) {
            warningModal("닉네임을 입력해주세요.");
            form.nickname.focus();

            return;
          }

          form.submit();
          MemberJoin__submitDone = true;
        }
      </script>


      <form th:action method="POST" class="flex flex-col gap-3"
            onsubmit="MemberJoin__submit(this); return false;">
        <div class="form-control">
          <label class="label">
            <span class="label-text">아이디</span>
          </label>
          <input autofocus type="text" name="username" placeholder="아이디" class="input input-bordered"
                 maxlength="50">
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">비밀번호</span>
          </label>
          <input type="password" name="password"
                 placeholder="비밀번호" class="form-label" maxlength="50">

          <input type="password" name="passwordConfirm"
                 placeholder="비밀번호확인" class="form-label" maxlength="50">
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">이메일</span>
          </label>
          <input type="email" name="email" placeholder="이메일" class="form-control" maxlength="50">
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">닉네임</span>
          </label>
          <input type="text" name="nickname" placeholder="닉네임" class="form-control" maxlength="50">
        </div>

        <div class="d-flex flex-row mb-3">
          <button class="btn btn-primary" type="submit">회원가입</button>
          <button class="btn btn-secondary" type="text" onclick="location.href='/member/login'">로그인</button>
        </div>
      </form>
    </div>

    </div>
  </section>

</main>
</body>
</html>
